<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="views/layouts/client.css">
    <script src="views/js/jquery-1.11.3.js"></script>
    <div name="text" hidden></div>
  </head>
  <body>
    <div id="main-container">
      <div id="keyword-search-box">
        <input type="text" name="text-search-feild" id="text-search-feild">
        <input type="button" id="submit-button" value="submit" onclick="handleSubmitButton()">
      </div>
      <div id="search-return-box"></div>
    </div>
    <script tpye="text/javascript" src="../views/js/start.js"></script>
  </body>
</html>
